{% extends 'base.html' %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block container %}
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">Grabar!!</button>
</form>
{% endblock container %}