{% extends 'base.html' %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block container %}

<div class="card" style="width: 18rem;">
    <img src="{{ beneficiario.imagen.url }}" class="card-img-top" alt="foto de perfil">
    <div class="card-body">
      <h5 class="card-title">Beneficiario id: {{ beneficiario.id }}</h5>
      <h3 class="card-title">Apellido y nombre: {{ beneficiario.apellido }} {{ beneficiario.nombre }}</h3>
      <p class="card-text">{{ benefiario.domicilio }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ beneficiario.dni }}</li>
      <li class="list-group-item">{{ beneficiario.cuil }}</li>
      <li class="list-group-item">{{ beneficiario.genero }}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>



{% endblock %}