{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block container %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Foto Perfil</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Género</th>
        <th scope="col">CUIL</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody>
    {% for beneficiario in beneficiarios %}
      <tr>
        <th scope="row">
          <a href="{% url 'beneficiarios:detalle-benefiario' beneficiario.id %}">
            {{ beneficiario.id }}
          </a>
        </th>
        <td><img src="{{ beneficiario.imagen.url }}" width="50px" alt="Imagen de perfil del Beneficiario"></td>
        <td>{{ beneficiario.apellido }}</td>
        <td>{{ beneficiario.nombre }}</td>
        <td>{{ beneficiario.domicilio }}</td>
        <td>{{ beneficiario.genero }}</td>
        <td>{{ beneficiario.cuil }}</td>


        {% if beneficiario.activo  %}
            <td><img src="{% static 'imagenes/activo.png' %}" width="50px" alt="Activo"></td>
        {% else %}
            <td><img src="{% static 'imagenes/inactivo.png' %}" width="50px" alt="Inactivo"></td>
        {% endif %}


      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}