{% extends 'base.html' %}

{% block container %}

<h1>Logged out</h1>
<div>
<p>
Ya no estás logueado en el sistema
Puedes loguearte nuevamente <a href="{% url "login" %}">Aquí</a>.
</p>
</div>

{% endblock container %}