{% extends 'base.html' %}

{% block container %}

<h1>LOGIN</h1>

<div>
{% if form.errors %}
    <p>Usuario y contraseña no coinciden</p>
{% else %}
    <p>Use el formulario para autenticarse:</p>
{% endif %}

<div>
    <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <p><input type="submit" value="Login"></p>
    </form>
</div>

</div>

{% endblock container %}