{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block container %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre del beneficio</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody>
    {% for beneficio in object_list %}
      <tr>
        <th scope="row">
          <a href="{% url 'beneficios:detalle-beneficio' beneficio.id %}">
            {{ beneficio.id }}
          </a>
        </th>
        <td>{{ beneficio.nombre }}</td>



        {% if beneficio.activo  %}
            <td><img src="{% static 'imagenes/activo.png' %}" width="50px" alt="Activo"></td>
        {% else %}
            <td><img src="{% static 'imagenes/inactivo.png' %}" width="50px" alt="Inactivo"></td>
        {% endif %}


      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}